{% extends 'authentication/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">   
{% endblock %}

{% block content %}
<div class="navigation">
  <ul>
    {% for s in member.status.all %}
      <li><a href="{% url 'blog:sample' s %}" data-text="{{s}}">{{s}}</a></li>
    {% endfor %}
    <li><a href="{% url 'authentication:password_change' %}" data-text="Change Password">Change Password</a></li>
    <li><a href="{% url 'authentication:logout' %}" data-text="Logout">Logout</a></li>
  </ul>
</div>
{% endblock %}

{% block script %}
{% endblock %}