{% extends 'authentication/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">   
{% endblock %}

{% block content %}
<div class="wrap">
  {% for s in member.status.all %}
    <a href="{% url 'blog:sample' s %}" data-text="{{s}}" class="button effect_glitch" id="Hi">{{s}}</a>
  {% endfor %}
  <a href="{% url 'authentication:password_change' %}" data-text="Change Password" class="button effect_glitch">Change Password</a>
  <a href="{% url 'authentication:logout' %}" data-text="Logout" class="button effect_glitch">Logout</a>
</div>
{% endblock %}

{% block script %}
  <script src="/static/js/home.js"></script>
{% endblock %}