{% extends 'authentication/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

{% block content %}

    <form class="main" action="" method="POST">
      <p class="sign" align="center">Change Password</p>
      {{ form.non_field_errors }}
      {% for field in form %}
      <div align="center" class="form-group">
        <label for="{{ field.id_for_label }}" class="text-secondary">{{ field.label_tag }}</p></label>
        <br>
        <label align="center">{{ field }}</label>
          {{ field.errors }}
      </div>
      {% endfor %}
      {% csrf_token %}
      <button class="submit" algin="center" type="submit">送信</button>
  </form>

{% endblock %}