{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/play.css' %}">
  </head>
  
  <body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <!-- Avatar image in top left corner -->
      <img src="{% static 'img/kobayashi/pro.jpg' %}" style="width:100%">
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
      <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-photo w3-xxlarge"></i>
        <p>PHOTOS</p>
      </a>
      <a href="#help" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-dollar w3-xxlarge"></i>
        <p>HELP</p>
      </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
      <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
        <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
        <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
        <a href="#help" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
      </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
      <!-- Header/Home -->
      <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Hayato Kobayashi.</h1>
        <p>Economist and Photographer</p>
        <img src="{% static 'img/kobayashi/pro.jpg' %}" alt="boy" class="w3-image" width="892" height="1008">
      </header>

      <!-- About Section -->
      <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
        <h2 class="w3-text-light-grey">My Name</h2>
        <hr style="width:200px" class="w3-opacity">
        <p>小林はやとです。
        商社で営業をしています。
        僕はこう見えても人見知りなんです。だから押し売りというのができません。でも聞かれたら絶対に答えられるエキスパートです。本当に必要としている人にだけ提供する営業マンを目指しています。
        よろしくお願いします。</p>
        <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
        <p class="w3-wide">Economy</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:95%"></div>
        </div>
        <p class="w3-wide">Trade</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:85%"></div>
        </div>
        <p class="w3-wide">Photoshop</p>
        <div class="w3-white">
          <div class="w3-dark-grey" style="height:28px;width:80%"></div>
        </div><br>
        
        <!-- Testimonials -->
        <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>  
        <img src="{% static 'img/kobayashi/honda.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-margin-right">Yuya Honda</span>Docter at Nippon Medical School</p>
        <p>彼は俺にはない理性をもっているよ</p><br>
        
        <img src="{% static 'img/kobayashi/oboki.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
        <p><span class="w3-large w3-margin-right">Aoki Hirotaka</span>Engineer atTokyo Institute of Technology</p>
        <p>俺の女も彼に惚れてる</p><br>

        <img src="{% static 'img/kobayashi/nose.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px" height="70">
        <p><span class="w3-large w3-margin-right">Nose</span>Docter at Syowa Uni</p>
        <p>どうも鼻高しことはなたかしです</p>
      <!-- End About Section -->
      </div>
      
      <!-- Portfolio Section -->
      <div class="w3-padding-64 w3-content" id="photos">
        <h2 class="w3-text-light-grey">My Photos</h2>
        <hr style="width:200px" class="w3-opacity">

        <!-- Grid for photos -->
        <div class="w3-row-padding" style="margin:0 -16px">
          <div class="w3-half">
            <img src="{% static 'img/kobayashi/1.jpg' %}" style="width:100%">
            <img src="{% static 'img/kobayashi/2.jpg' %}" style="width:100%">
            <img src="{% static 'img/kobayashi/6.jpg' %}" style="width:100%">
          </div>

          <div class="w3-half">
            <img src="{% static 'img/kobayashi/4.jpg' %}" style="width:100%">
            <img src="{% static 'img/kobayashi/5.jpg' %}" style="width:100%">
            <img src="{% static 'img/kobayashi/3.jpg' %}" style="width:100%">
            <img src="{% static 'img/kobayashi/7.jpg' %}" style="width:100%">
          </div>
        <!-- End photo grid -->
        </div>
      <!-- End Portfolio Section -->
      </div>

      <!-- Contact Section -->
      <div class="w3-padding-64 w3-content w3-text-grey" id="help">
        <h2 class="w3-text-light-grey">Help Me</h2>
        <hr style="width:200px" class="w3-opacity">

        <p>最近、トイレで財布を盗まれてしまいました。
        今月の家賃を滞納しなければいけません。カンパして頂けると幸いです。
        </p>

        <div class="w3-section">
          <form action="" method="POST">
          <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="{{ data_key }}"
              data-amount="{{ data_amount }}"
              data-name="{{ data_name }}"
              data-description="{{ data_description }}"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
          </script>
          {% csrf_token %}
          </form>
        </div><br>
        
      <!-- End Contact Section -->
      </div>
      
      <!-- Footer -->
      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
      <!-- End footer -->
      </footer>
      <!-- END PAGE CONTENT -->
    </div>

  </body>
</html>