{% load static %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
  </head>

  <body class="w3-black">

  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="{% static 'img/anonymous.jpg' %}" style="width:100%">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
      <i class="fa fa-home w3-xxlarge"></i>
      <p>HOME</p>
    </a>
    <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-user w3-xxlarge"></i>
      <p>ABOUT</p>
    </a>
    <a href="#project" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-product-hunt w3-xxlarge"></i>
      <p>PROJECT</p>
    </a>
    <a href="#benefit" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-gift w3-xxlarge"></i>
      <p>BENEFIT</p>
    </a>
    <a href="#condition" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
      <i class="fa fa-thumbs-o-up w3-xxlarge"></i>
      <p>CONDITION</p>
    </a>
  </nav>

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
      <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
      <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
      <a href="#project" class="w3-bar-item w3-button" style="width:25% !important">PROJECT</a>
      <a href="#benefit" class="w3-bar-item w3-button" style="width:25% !important">BENEFIT</a>
      <a href="#condition" class="w3-bar-item w3-button" style="width:25% !important">CONDITION</a>
    </div>
  </div>

  <!-- Page Content -->
  <div class="w3-padding-large" id="main">
    <!-- Header/Home -->
    <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
      <h1 class="w3-jumbo"><span class="w3-hide-small">WITHER</span></h1>
      <img src="{% static 'img/anonymous.jpg' %}" alt="boy" class="w3-image" width="992" height="1108">
    </header>

    <!-- About Section -->
    <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
      <h2 class="w3-text-light-grey">WITHERとは</h2>
      <hr style="width:200px" class="w3-opacity">
      <p>WITHERは、様々な情報を皆さんにお届けすることを目的とした個人的なブログであり、メンバーが主体的に様々なプロジェクトに楽しく取り組むことが可能な会員制のコミュニケーションサロンです。</p>
      
      <a class="btn btn-dark btn-lg" href="{% url 'authentication:login' %}" role="button">Login</a>
      <a class="btn btn-dark btn-lg" href="https://community.camp-fire.jp/projects/view/239921" role="button">入会</a>
      
      <!-- What's WITHER -->
      <h3 class="w3-padding-24 w3-text-light-grey">Content</h3>  
      <img src="{% static 'img/return_everyone.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
      <p><span class="w3-large w3-margin-right">BEGINNER</span>コンピュータ関連に関する概念的なこと</p>
      <p>分かりやすくをモットー</p><br>
      
      <img src="{% static 'img/return_technical.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
      <p><span class="w3-large w3-margin-right">TECHNICAL</span>コンピュータ関連に関する技術的なこと</p>
      <p>アカデミックをモットー</p><br>

      <img src="{% static 'img/daily.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
      <p><span class="w3-large w3-margin-right">BLOG</span>自身の日常</p>
      <p>私は誰を？をモットー</p><br>

      <img src="{% static 'img/english.jpg' %}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
      <p><span class="w3-large w3-margin-right">ENGLISH</span>英語関係について役立つ情報</p>
      <p>グローバルをモットー</p>
    <!-- End About Section -->
    </div>
    
    <!-- Portfolio Section -->
    <div class="w3-padding-64 w3-content" id="project">
      <h2 class="w3-text-light-grey">Project</h2>
      <hr style="width:200px" class="w3-opacity">
      <ul>
        <li><p><span class="w3-large w3-margin-right">メンバーが主体的にプロジェクトを計画し、また、実行します</span></p></li>
        <p>時には、プロジェクトメンバーとして強引に参加させられることもあるとかないとか...</p><br>
        
        <li><p><span class="w3-large w3-margin-right">プロジェクトは、自身のブログが会員制であることの副次的なものなので<strong>ほのぼの</strong>としたい</span></p></li>
        <p>時の流れを楽しんでこってこと</p><br>
        
        <li><p><span class="w3-large w3-margin-right">1stプロジェクトは、私がこのサイトを一から作ったこと</span>自慢したかったよ</p></li>
        <p>Wordpressとかは使用せずに10時間ぐらいで作ったよってこと</p><br>
        
        <li><p><span class="w3-large w3-margin-right">コンピュータを専門にしてるなら、もちょっとクオリティあげなよ</span>って言われたら、シュンってなるよ</p></li>
        <p>頭は悪いよってこと</p><br>
      </ul>
    <!-- End Portfolio Section -->
    </div>
    
    <!-- Benefit Section -->
    <div class="w3-padding-64 w3-content" id="benefit">
    <h2 class="w3-text-light-grey">Benefit</h2>
    <hr style="width:200px" class="w3-opacity">
      <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
          <img src="{% static 'img/share.jpg' %}" alt="Norway" style="width:100%" height="200px" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>知識の共有が可能</b></p>
            <p>頭の良き人の言っている意味が分からない...技術書高いと思う</p>
            <p>人を助けたいのが私</p>
          </div>
        </div>
        <div class="w3-third w3-container w3-margin-bottom">
          <img src="{% static 'img/funny.jpg' %}" alt="Norway" style="width:100%" height="200px" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>様々な面白いことがある</b></p>
            <p>面白いことが思いつかない...思いつくけど一緒に行動してくれる人がいない</p>
            <p>人を助けたいのが私</p>
          </div>
        </div>
        <div class="w3-third w3-container">
          <img src="{% static 'img/kindness.jpg' %}" alt="Norway" style="width:100%" height="200px" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>優しさがある</b></p>
            <p>頭の良き人のブログがみたい...美男美女が管理しているサロンに入りたい</p>
            <p>人を助けれないのが私</p>
          </div>
        </div>
    </div>
    <!-- end Benefit Section -->
    </div>

    <!-- Contact Section -->
    <div class="w3-padding-64 w3-content w3-text-grey" id="condition">
      <h2 class="w3-text-light-grey">入会条件</h2>
      <hr style="width:200px" class="w3-opacity">

      <div class="w3-section">
        <p><i class="fa fa-users fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>互いに尊敬しおうこと</p><br>
        <p><i class="fa fa-bath fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>余裕をもっていること</p><br>
        <p><i class="fa fa-heart-o fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i>仲良くやっていこうと思っていること</p>
      </div><br>
      <br>

      <div class="w3-section">
        <p>当サロンにおける内容は秘密厳守とさせて頂きます</p>
        <p>上記ルールをお守り頂けない場合は、法的処置をとらせていただくことがございます。ご容赦下さい</p>
        <p>このグループでのディスカッションは主にLINEでやり取りをしていこうと考えております</p>
        <p>当サロンへの参加は入会申し込み日から10日程度頂いております。</p>
      </div><br>
      <a class="btn btn-dark btn-lg" href="https://community.camp-fire.jp/projects/view/239921" role="button">入会</a>
    <!-- End Contact Section -->
    </div>
    <!-- Footer -->
    <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    <!-- End footer -->
    </footer>

  <!-- END PAGE CONTENT -->
  </div>

  </body>
</html>